.swagger-ui {
	font-family: sans-serif;
	color: #3b4151
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #eff7ff;
}

.swagger-ui body {
	margin: 0
}

.swagger-ui article,
.swagger-ui aside,
.swagger-ui footer,
.swagger-ui header,
.swagger-ui nav,
.swagger-ui section {
	display: block
}

.swagger-ui h1 {
	font-size: 2em;
	margin: .67em 0
}

.swagger-ui figcaption,
.swagger-ui figure,
.swagger-ui main {
	display: block
}

.swagger-ui figure {
	margin: 1em 40px
}

.swagger-ui hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

.swagger-ui pre {
	font-family: monospace, monospace;
	font-size: .75rem
}

@media screen and (min-width:30em) {
	.swagger-ui .f-6-ns,
	.swagger-ui .f-headline-ns {
		font-size: 6rem
	}
	.swagger-ui .f-5-ns,
	.swagger-ui .f-subheadline-ns {
		font-size: 5rem
	}
	.swagger-ui .f1-ns {
		font-size: 3rem
	}
	.swagger-ui .f2-ns {
		font-size: 2.25rem
	}
	.swagger-ui .f3-ns {
		font-size: 1.5rem
	}
	.swagger-ui .f4-ns {
		font-size: 1.25rem
	}
	.swagger-ui .f5-ns {
		font-size: 1rem
	}
	.swagger-ui .f6-ns {
		font-size: .875rem
	}
	.swagger-ui .f7-ns {
		font-size: .75rem
	}
}

@media screen and (min-width:30em) and (max-width:60em) {
	.swagger-ui .f-6-m,
	.swagger-ui .f-headline-m {
		font-size: 6rem
	}
	.swagger-ui .f-5-m,
	.swagger-ui .f-subheadline-m {
		font-size: 5rem
	}
	.swagger-ui .f1-m {
		font-size: 3rem
	}
	.swagger-ui .f2-m {
		font-size: 2.25rem
	}
	.swagger-ui .f3-m {
		font-size: 1.5rem
	}
	.swagger-ui .f4-m {
		font-size: 1.25rem
	}
	.swagger-ui .f5-m {
		font-size: 1rem
	}
	.swagger-ui .f6-m {
		font-size: .875rem
	}
	.swagger-ui .f7-m {
		font-size: .75rem
	}
}

@media screen and (min-width:60em) {
	.swagger-ui .f-6-l,
	.swagger-ui .f-headline-l {
		font-size: 6rem
	}
	.swagger-ui .f-5-l,
	.swagger-ui .f-subheadline-l {
		font-size: 5rem
	}
	.swagger-ui .f1-l {
		font-size: 3rem
	}
	.swagger-ui .f2-l {
		font-size: 2.25rem
	}
	.swagger-ui .f3-l {
		font-size: 1.5rem
	}
	.swagger-ui .f4-l {
		font-size: 1.25rem
	}
	.swagger-ui .f5-l {
		font-size: 1rem
	}
	.swagger-ui .f6-l {
		font-size: .875rem
	}
	.swagger-ui .f7-l {
		font-size: .75rem
	}
}

.swagger-ui .measure {
	max-width: 30em
}

.swagger-ui .measure-wide {
	max-width: 34em
}

.swagger-ui .measure-narrow {
	max-width: 20em
}

.swagger-ui .indent {
	text-indent: 1em;
	margin-top: 0;
	margin-bottom: 0
}

.swagger-ui .small-caps {
	font-variant: small-caps
}

.swagger-ui .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

@media screen and (min-width:30em) {
	.swagger-ui .measure-ns {
		max-width: 30em
	}
	.swagger-ui .measure-wide-ns {
		max-width: 34em
	}
	.swagger-ui .measure-narrow-ns {
		max-width: 20em
	}
	.swagger-ui .indent-ns {
		text-indent: 1em;
		margin-top: 0;
		margin-bottom: 0
	}
	.swagger-ui .small-caps-ns {
		font-variant: small-caps
	}
	.swagger-ui .truncate-ns {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}
}

@media screen and (min-width:30em) and (max-width:60em) {
	.swagger-ui .measure-m {
		max-width: 30em
	}
	.swagger-ui .measure-wide-m {
		max-width: 34em
	}
	.swagger-ui .measure-narrow-m {
		max-width: 20em
	}
	.swagger-ui .indent-m {
		text-indent: 1em;
		margin-top: 0;
		margin-bottom: 0
	}
	.swagger-ui .small-caps-m {
		font-variant: small-caps
	}
	.swagger-ui .truncate-m {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}
}

@media screen and (min-width:60em) {
	.swagger-ui .measure-l {
		max-width: 30em
	}
	.swagger-ui .measure-wide-l {
		max-width: 34em
	}
	.swagger-ui .measure-narrow-l {
		max-width: 20em
	}
	.swagger-ui .indent-l {
		text-indent: 1em;
		margin-top: 0;
		margin-bottom: 0
	}
	.swagger-ui .small-caps-l {
		font-variant: small-caps
	}
	.swagger-ui .truncate-l {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}
}

.swagger-ui .overflow-container {
	overflow-y: scroll
}

.swagger-ui .center {
	margin-right: auto;
	margin-left: auto
}

.swagger-ui .mr-auto {
	margin-right: auto
}

.swagger-ui .ml-auto {
	margin-left: auto
}

@media screen and (min-width:30em) {
	.swagger-ui .center-ns {
		margin-right: auto;
		margin-left: auto
	}
	.swagger-ui .mr-auto-ns {
		margin-right: auto
	}
	.swagger-ui .ml-auto-ns {
		margin-left: auto
	}
}

@media screen and (min-width:30em) and (max-width:60em) {
	.swagger-ui .center-m {
		margin-right: auto;
		margin-left: auto
	}
	.swagger-ui .mr-auto-m {
		margin-right: auto
	}
	.swagger-ui .ml-auto-m {
		margin-left: auto
	}
}

@media screen and (min-width:60em) {
	.swagger-ui .center-l {
		margin-right: auto;
		margin-left: auto
	}
	.swagger-ui .mr-auto-l {
		margin-right: auto
	}
	.swagger-ui .ml-auto-l {
		margin-left: auto
	}
}

.swagger-ui .clip {
	position: fixed!important;
	_position: absolute!important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px)
}

@media screen and (min-width:30em) {
	.swagger-ui .clip-ns {
		position: fixed!important;
		_position: absolute!important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px)
	}
}

@media screen and (min-width:30em) and (max-width:60em) {
	.swagger-ui .clip-m {
		position: fixed!important;
		_position: absolute!important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px)
	}
}

@media screen and (min-width:60em) {
	.swagger-ui .clip-l {
		position: fixed!important;
		_position: absolute!important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px)
	}
}

.swagger-ui .ws-normal {
	white-space: normal
}

.swagger-ui .nowrap {
	white-space: nowrap
}

.swagger-ui .pre {
	white-space: pre
}

@media screen and (min-width:30em) {
	.swagger-ui .ws-normal-ns {
		white-space: normal
	}
	.swagger-ui .nowrap-ns {
		white-space: nowrap
	}
	.swagger-ui .pre-ns {
		white-space: pre
	}
}

@media screen and (min-width:30em) and (max-width:60em) {
	.swagger-ui .ws-normal-m {
		white-space: normal
	}
	.swagger-ui .nowrap-m {
		white-space: nowrap
	}
	.swagger-ui .pre-m {
		white-space: pre
	}
}

@media screen and (min-width:60em) {
	.swagger-ui .ws-normal-l {
		white-space: normal
	}
	.swagger-ui .nowrap-l {
		white-space: nowrap
	}
	.swagger-ui .pre-l {
		white-space: pre
	}
}

.swagger-ui .v-base {
	vertical-align: baseline
}

.swagger-ui .v-mid {
	vertical-align: middle
}

.swagger-ui .v-top {
	vertical-align: top
}

.swagger-ui .v-btm {
	vertical-align: bottom
}

@media screen and (min-width:30em) {
	.swagger-ui .v-base-ns {
		vertical-align: baseline
	}
	.swagger-ui .v-mid-ns {
		vertical-align: middle
	}
	.swagger-ui .v-top-ns {
		vertical-align: top
	}
	.swagger-ui .v-btm-ns {
		vertical-align: bottom
	}
}

@media screen and (min-width:30em) and (max-width:60em) {
	.swagger-ui .v-base-m {
		vertical-align: baseline
	}
	.swagger-ui .v-mid-m {
		vertical-align: middle
	}
	.swagger-ui .v-top-m {
		vertical-align: top
	}
	.swagger-ui .v-btm-m {
		vertical-align: bottom
	}
}

@media screen and (min-width:60em) {
	.swagger-ui .v-base-l {
		vertical-align: baseline
	}
	.swagger-ui .v-mid-l {
		vertical-align: middle
	}
	.swagger-ui .v-top-l {
		vertical-align: top
	}
	.swagger-ui .v-btm-l {
		vertical-align: bottom
	}
}

.swagger-ui .dim {
	opacity: 1;
	transition: opacity .15s ease-in
}

.swagger-ui .dim:focus,
.swagger-ui .dim:hover {
	opacity: .5;
	transition: opacity .15s ease-in
}

.swagger-ui .dim:active {
	opacity: .8;
	transition: opacity .15s ease-out
}

.swagger-ui .glow {
	transition: opacity .15s ease-in
}

.swagger-ui .glow:focus,
.swagger-ui .glow:hover {
	opacity: 1;
	transition: opacity .15s ease-in
}

.swagger-ui .hide-child .child {
	opacity: 0;
	transition: opacity .15s ease-in
}

.swagger-ui .hide-child:active .child,
.swagger-ui .hide-child:focus .child,
.swagger-ui .hide-child:hover .child {
	opacity: 1;
	transition: opacity .15s ease-in
}

.swagger-ui .underline-hover:focus,
.swagger-ui .underline-hover:hover {
	text-decoration: underline
}

.swagger-ui .grow {
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out, -webkit-transform .25s ease-out
}

.swagger-ui .grow:focus,
.swagger-ui .grow:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.swagger-ui .grow:active {
	-webkit-transform: scale(.9);
	transform: scale(.9)
}

.swagger-ui .grow-large {
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out
}

.swagger-ui .grow-large:focus,
.swagger-ui .grow-large:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}

.swagger-ui .grow-large:active {
	-webkit-transform: scale(.95);
	transform: scale(.95)
}

.swagger-ui .pointer:hover {
	cursor: pointer
}

.swagger-ui .shadow-hover {
	cursor: pointer;
	position: relative;
	transition: all .5s cubic-bezier(.165, .84, .44, 1)
}

.swagger-ui .shadow-hover:after {
	content: "";
	box-shadow: 0 0 16px 2px rgba(0, 0, 0, .2);
	border-radius: inherit;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: opacity .5s cubic-bezier(.165, .84, .44, 1)
}

.swagger-ui .shadow-hover:focus:after,
.swagger-ui .shadow-hover:hover:after {
	opacity: 1
}

.swagger-ui .bg-animate,
.swagger-ui .bg-animate:focus,
.swagger-ui .bg-animate:hover {
	transition: background-color .15s ease-in-out
}

.swagger-ui .z-0 {
	z-index: 0
}

.swagger-ui .z-1 {
	z-index: 1
}

.swagger-ui .z-2 {
	z-index: 2
}

.swagger-ui .z-3 {
	z-index: 3
}

.swagger-ui .z-4 {
	z-index: 4
}

.swagger-ui .z-5 {
	z-index: 5
}

.swagger-ui .z-999 {
	z-index: 999
}

.swagger-ui .z-9999 {
	z-index: 9999
}

.swagger-ui .z-max {
	z-index: 2147483647
}

.swagger-ui .z-inherit {
	z-index: inherit
}

.swagger-ui .z-initial {
	z-index: auto
}

.swagger-ui .z-unset {
	z-index: unset
}

.swagger-ui .nested-copy-line-height ol,
.swagger-ui .nested-copy-line-height p,
.swagger-ui .nested-copy-line-height ul {
	line-height: 1.5
}

.swagger-ui .nested-headline-line-height h1,
.swagger-ui .nested-headline-line-height h2,
.swagger-ui .nested-headline-line-height h3,
.swagger-ui .nested-headline-line-height h4,
.swagger-ui .nested-headline-line-height h5,
.swagger-ui .nested-headline-line-height h6 {
	line-height: 1.25
}

.swagger-ui .nested-list-reset ol,
.swagger-ui .nested-list-reset ul {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none
}

.swagger-ui .nested-copy-indent p+p {
	text-indent: .1em;
	margin-top: 0;
	margin-bottom: 0
}

.swagger-ui .nested-copy-seperator p+p {
	margin-top: 1.5em
}

.swagger-ui .nested-img img {
	width: 100%;
	max-width: 100%;
	display: block
}

.swagger-ui .nested-links a {
	color: #357edd;
	transition: color .15s ease-in
}

.swagger-ui .nested-links a:focus,
.swagger-ui .nested-links a:hover {
	color: #96ccff;
	transition: color .15s ease-in
}

.swagger-ui .wrapper {
	width: 100%;
	max-width: 1460px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box
}

.swagger-ui .opblock-tag-section {
	display: flex;
	flex-direction: column
}

.swagger-ui .endpoints {
	background-color: #FFF;
	padding: 15px 15px 0 15px;
	border: 2px solid #30577f;
	border-top-width: 0;
	border-radius: 0 0 7px 7px;
}

.swagger-ui .endpoints-list {
	display: block;
	border-radius: 11px 11px 7px 7px;
	box-shadow: 0 3px 10px -3px #30577f;
}

.swagger-ui .opblock-tag {
	font-size: 24px;
	margin: 0;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	padding: 15px 20px;
	color: #FFF;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
	background: #61affe;
	border: 2px solid #30577f;
	border-radius: 10px 10px 0 0;
	box-shadow: inset 0 -50px 50px -25px rgba(0, 0, 0, 0.5);
}

.swagger-ui .opblock-tag.no-desc span {
	flex: 1
}

.swagger-ui .opblock-tag svg {
	transition: all .4s
}

.swagger-ui .opblock-tag small {
	font-size: 14px;
	font-weight: 400;
	flex: 1;
	padding: 0 10px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .parameter__type {
	font-size: 12px;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui .parameter-controls {
	margin-top: .75em
}

.swagger-ui .examples__title {
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: .75em
}

.swagger-ui .examples__section {
	margin-top: 1.5em
}

.swagger-ui .examples__section-header {
	font-weight: 700;
	font-size: .9rem;
	margin-bottom: .5rem
}

.swagger-ui .examples-select {
	margin-bottom: .75em
}

.swagger-ui .examples-select__section-label {
	font-weight: 700;
	font-size: .9rem;
	margin-right: .5rem
}

.swagger-ui .example__section {
	margin-top: 1.5em
}

.swagger-ui .example__section-header {
	font-weight: 700;
	font-size: .9rem;
	margin-bottom: .5rem
}

.swagger-ui .view-line-link {
	position: relative;
	top: 3px;
	width: 20px;
	margin: 0 5px;
	cursor: pointer;
	transition: all .5s
}

.swagger-ui .opblock {
	margin: 0 0 15px;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .19)
}

.swagger-ui .opblock .tab-header {
	display: flex;
	flex: 1
}

.swagger-ui .opblock .tab-header .tab-item {
	padding: 10px 50px 17px 0;
	cursor: pointer
}

.swagger-ui .opblock .tab-header .tab-item h4 span {
	position: relative
}

.swagger-ui .opblock .tab-header .tab-item h4 span:after {
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 120%;
	content: "";
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: grey;
	height: 0;
	transition: all 0.2s linear;
}

.swagger-ui .opblock .tab-header .tab-item.active h4 span:after {
	height: 4px;
}

.swagger-ui .opblock.is-open .opblock-summary {
	border-bottom: 1px solid #000
}

.swagger-ui .opblock .opblock-section-header {
	display: flex;
	align-items: center;
	padding: 0 20px;
	min-height: 50px;
	background: hsla(0, 0%, 100%, .8);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.swagger-ui .opblock .opblock-section-header>label {
	font-size: 12px;
	font-weight: 700;
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .opblock .opblock-section-header>label>span {
	padding: 0 10px 0 0
}

.swagger-ui .opblock .opblock-section-header h4 {
	font-size: 14px;
	flex: 1;
	margin: 0;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .opblock .opblock-summary-method {
	font-size: 14px;
	font-weight: 700;
	padding: 6px 15px;
	text-align: center;
	border-radius: 3px;
	background: #000;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	font-family: sans-serif;
	color: #fff
}

.swagger-ui .opblock .opblock-summary-path{
	white-space: nowrap;
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
	font-size: 16px;
	display: flex;
	align-items: center;
	word-break: break-word;
	padding: 0 10px;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

@media (max-width:768px) {
	.swagger-ui .opblock .opblock-summary-operation-id,
	.swagger-ui .opblock .opblock-summary-path,
	.swagger-ui .opblock .opblock-summary-path__deprecated {
		font-size: 12px
	}
}

.swagger-ui .opblock .opblock-summary-path__deprecated {
	text-decoration: line-through
}

.swagger-ui .opblock .opblock-summary-operation-id {
	font-size: 14px
}

.swagger-ui .opblock .opblock-summary-description {
	font-size: 13px;
	flex: 1 1 auto;
	word-break: break-word;
	font-family: sans-serif;
	padding-top: 1px;
	color: #3b4151
}

.swagger-ui .opblock .opblock-summary {
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer
}

.swagger-ui .opblock .opblock-summary .view-line-link {
	position: relative;
	top: 2px;
	width: 0;
	margin: 0;
	cursor: pointer;
	transition: all .5s
}

.swagger-ui .opblock .opblock-summary:hover .view-line-link {
	width: 18px;
	margin: 0 5px
}

.swagger-ui .opblock.opblock-post {
	border-color: #49cc90;
	background: rgba(73, 204, 144, .1)
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
	background: #49cc90
}

.swagger-ui .opblock.opblock-post .opblock-summary {
	border-color: #49cc90
}

.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after {
	background: #49cc90
}

.swagger-ui .opblock.opblock-put {
	border-color: #fca130;
	background: rgba(252, 161, 48, .1)
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
	background: #fca130
}

.swagger-ui .opblock.opblock-put .opblock-summary {
	border-color: #fca130
}

.swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span:after {
	background: #fca130
}

.swagger-ui .opblock.opblock-delete {
	border-color: #f93e3e;
	background: rgba(249, 62, 62, .1)
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
	background: #f93e3e
}

.swagger-ui .opblock.opblock-delete .opblock-summary {
	border-color: #f93e3e
}

.swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after {
	background: #f93e3e
}

.swagger-ui .opblock.opblock-get {
	border-color: #61affe;
	background: rgba(97, 175, 254, .1)
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
	background: #61affe
}

.swagger-ui .opblock.opblock-get .opblock-summary {
	border-color: #61affe
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item h4 span:after {
	background: #61affe;
}

.swagger-ui .opblock.opblock-patch {
	border-color: #50e3c2;
	background: rgba(80, 227, 194, .1)
}

.swagger-ui .opblock.opblock-patch .opblock-summary-method {
	background: #50e3c2
}

.swagger-ui .opblock.opblock-patch .opblock-summary {
	border-color: #50e3c2
}

.swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span:after {
	background: #50e3c2
}

.swagger-ui .opblock.opblock-head {
	border-color: #9012fe;
	background: rgba(144, 18, 254, .1)
}

.swagger-ui .opblock.opblock-head .opblock-summary-method {
	background: #9012fe
}

.swagger-ui .opblock.opblock-head .opblock-summary {
	border-color: #9012fe
}

.swagger-ui .opblock.opblock-head .tab-header .tab-item.active h4 span:after {
	background: #9012fe
}

.swagger-ui .opblock.opblock-options {
	border-color: #0d5aa7;
	background: rgba(13, 90, 167, .1)
}

.swagger-ui .opblock.opblock-options .opblock-summary-method {
	background: #0d5aa7
}

.swagger-ui .opblock.opblock-options .opblock-summary {
	border-color: #0d5aa7
}

.swagger-ui .opblock.opblock-options .tab-header .tab-item.active h4 span:after {
	background: #0d5aa7
}

.swagger-ui .opblock.opblock-deprecated {
	opacity: .6;
	border-color: #ebebeb;
	background: hsla(0, 0%, 92.2%, .1)
}

.swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
	background: #ebebeb
}

.swagger-ui .opblock.opblock-deprecated .opblock-summary {
	border-color: #ebebeb
}

.swagger-ui .opblock.opblock-deprecated .tab-header .tab-item.active h4 span:after {
	background: #ebebeb
}

.swagger-ui .opblock .opblock-schemes {
	padding: 8px 20px
}

.swagger-ui .opblock .opblock-schemes .schemes-title {
	padding: 0 10px 0 0
}

.swagger-ui .filter .operation-filter-input {
	width: 100%;
	margin: 20px 0;
	padding: 10px;
	border: 2px solid #d8dde7
}

.swagger-ui .model-example {
	margin-top: 1em
}

.swagger-ui .tab {
	display: flex;
	padding: 0;
	list-style: none
}

.swagger-ui .tab li {
	font-size: 12px;
	min-width: 60px;
	padding: 0;
	cursor: pointer;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .tab li:first-of-type {
	position: relative;
	padding-left: 0;
	padding-right: 12px
}

.swagger-ui .tab li:first-of-type:after {
	position: absolute;
	top: 0;
	right: 6px;
	width: 1px;
	height: 100%;
	content: "";
	background: rgba(0, 0, 0, .2)
}

.swagger-ui .tab li.active {
	font-weight: 700
}

.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal {
	font-size: 12px;
	margin: 0 0 5px;
	padding: 15px 20px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .opblock-description-wrapper h4,
.swagger-ui .opblock-external-docs-wrapper h4,
.swagger-ui .opblock-title_normal h4 {
	font-size: 12px;
	margin: 0 0 5px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p {
	font-size: 14px;
	margin: 0;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .opblock-external-docs-wrapper h4 {
	padding-left: 0
}

.swagger-ui .execute-wrapper {
	padding: 20px;
	text-align: right
}

.swagger-ui .execute-wrapper .btn {
	width: 100%;
	padding: 8px 40px
}

.swagger-ui .body-param-options {
	display: flex;
	flex-direction: column
}

.swagger-ui .body-param-options .body-param-edit {
	padding: 10px 0
}

.swagger-ui .body-param-options label {
	padding: 8px 0
}

.swagger-ui .body-param-options label select {
	margin: 3px 0 0
}

.swagger-ui .responses-inner {
	padding: 20px
}

.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5 {
	font-size: 12px;
	margin: 10px 0 5px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .response-col_status {
	font-size: 14px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .response-col_status .response-undocumented {
	font-size: 11px;
	font-family: monospace;
	font-weight: 600;
	color: #909090
}

.swagger-ui .response-col_links {
	padding-left: 2em;
	max-width: 40em;
	font-size: 14px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .response-col_links .response-undocumented {
	font-size: 11px;
	font-family: monospace;
	font-weight: 600;
	color: #909090
}

.swagger-ui .opblock-body .opblock-loading-animation {
	display: block;
	margin: 3em auto
}

.swagger-ui .opblock-body pre.microlight {
	font-size: 12px;
	margin: 0;
	padding: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	border-radius: 4px;
	background: #41444e;
	overflow-wrap: break-word;
	font-family: monospace;
	font-weight: 600;
	color: #fff
}

.swagger-ui .opblock-body pre.example {
	font-size: 12px;
	padding: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	border-radius: 4px;
	background: #41444e;
	overflow-wrap: break-word;
	font-family: monospace;
	font-weight: 600;
	color: #fff;
}

.swagger-ui .opblock-body pre.microlight span {
	color: #fff!important
}

.swagger-ui .opblock-body pre.microlight .headerline {
	display: block
}

.swagger-ui .highlight-code {
	position: relative
}

.swagger-ui .highlight-code>.microlight {
	overflow-y: auto;
	max-height: 400px;
	min-height: 6em
}

.swagger-ui .download-contents {
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	background: #7d8293;
	text-align: center;
	padding: 5px;
	border-radius: 4px;
	font-family: sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 14px;
	height: 30px;
	width: 75px
}

.swagger-ui .scheme-container {
	margin: 0 0 20px;
	padding: 30px 0;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)
}

.swagger-ui .scheme-container .schemes {
	display: flex;
	align-items: flex-end
}

.swagger-ui .scheme-container .schemes>label {
	font-size: 12px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	margin: -20px 15px 0 0;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .scheme-container .schemes>label select {
	min-width: 130px;
	text-transform: uppercase
}

.swagger-ui .loading-container {
	padding: 40px 0 60px;
	margin-top: 1em;
	min-height: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}

.swagger-ui .loading-container .loading {
	position: relative
}

.swagger-ui .loading-container .loading:after {
	font-size: 10px;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	content: "loading";
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .loading-container .loading:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 60px;
	height: 60px;
	margin: -30px;
	content: "";
	-webkit-animation: rotation 1s linear infinite, opacity .5s;
	animation: rotation 1s linear infinite, opacity .5s;
	opacity: 1;
	border: 2px solid rgba(85, 85, 85, .1);
	border-top-color: rgba(0, 0, 0, .6);
	border-radius: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

@-webkit-keyframes rotation {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes rotation {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

.swagger-ui .response-controls {
	padding-top: 1em;
	display: flex
}

.swagger-ui .response-control-media-type {
	margin-right: 1em
}

.swagger-ui .response-control-media-type--accept-controller select {
	border-color: green
}

.swagger-ui .response-control-media-type__accept-message {
	color: green;
	font-size: .7em
}

.swagger-ui .response-control-examples__title,
.swagger-ui .response-control-media-type__title {
	display: block;
	margin-bottom: .2em;
	font-size: .7em
}

@-webkit-keyframes blinker {
	50% {
		opacity: 0
	}
}

@keyframes blinker {
	50% {
		opacity: 0
	}
}

.swagger-ui section h3 {
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui a.nostyle {
	display: inline
}

.swagger-ui a.nostyle,
.swagger-ui a.nostyle:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: pointer
}

.swagger-ui .version-pragma {
	height: 100%;
	padding: 5em 0
}

.swagger-ui .version-pragma__message {
	display: flex;
	justify-content: center;
	height: 100%;
	font-size: 1.2em;
	text-align: center;
	line-height: 1.5em;
	padding: 0 .6em
}

.swagger-ui .version-pragma__message>div {
	max-width: 55ch;
	flex: 1
}

.swagger-ui .version-pragma__message code {
	background-color: #dedede;
	padding: 4px 4px 2px;
	white-space: pre
}

.swagger-ui .btn {
	font-size: 14px;
	font-weight: 700;
	padding: 5px 23px;
	transition: all .3s;
	border: 2px solid grey;
	border-radius: 4px;
	background: transparent;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .btn.btn-sm {
	font-size: 12px;
	padding: 4px 23px
}

.swagger-ui .btn[disabled] {
	cursor: not-allowed;
	opacity: .3
}

.swagger-ui .btn:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}

.swagger-ui .btn.cancel {
	border-color: #ff6060;
	background-color: transparent;
	font-family: sans-serif;
	color: #ff6060
}

.swagger-ui .btn.authorize {
	line-height: 1;
	display: inline;
	color: #49cc90;
	border-color: #49cc90;
	background-color: transparent
}

.swagger-ui .btn.authorize span {
	float: left;
	padding: 4px 20px 0 0
}

.swagger-ui .btn.authorize svg {
	fill: #49cc90
}

.swagger-ui .btn.execute {
	background-color: #4990e2;
	color: #fff;
	border-color: #4990e2
}

.swagger-ui .btn-group {
	display: flex;
	padding: 30px
}

.swagger-ui .btn-group .btn {
	flex: 1
}

.swagger-ui .btn-group .btn:first-child {
	border-radius: 4px 0 0 4px
}

.swagger-ui .btn-group .btn:last-child {
	border-radius: 0 4px 4px 0
}

.swagger-ui .authorization__btn {
	padding: 0 10px;
	border: none;
	background: none
}

.swagger-ui .authorization__btn.locked {
	opacity: 1
}

.swagger-ui .authorization__btn.unlocked {
	opacity: .4
}

.swagger-ui .expand-methods,
.swagger-ui .expand-operation {
	border: none;
	background: none
}

.swagger-ui .expand-methods svg,
.swagger-ui .expand-operation svg {
	width: 20px;
	height: 20px
}

.swagger-ui .expand-methods {
	padding: 0 10px
}

.swagger-ui .expand-methods:hover svg {
	fill: #404040
}

.swagger-ui .expand-methods svg {
	transition: all .3s;
	fill: #707070
}

.swagger-ui button {
	cursor: pointer;
	outline: none
}

.swagger-ui button.invalid {
	-webkit-animation: shake .4s 1;
	animation: shake .4s 1;
	border-color: #f93e3e;
	background: #feebeb
}

.swagger-ui select {
	font-size: 14px;
	font-weight: 700;
	padding: 5px 40px 5px 10px;
	border: 2px solid #41444e;
	border-radius: 4px;
	background: #f7f7f7 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTEzLjQxOCA3Ljg1OWEuNjk1LjY5NSAwIDAxLjk3OCAwIC42OC42OCAwIDAxMCAuOTY5bC0zLjkwOCAzLjgzYS42OTcuNjk3IDAgMDEtLjk3OSAwbC0zLjkwOC0zLjgzYS42OC42OCAwIDAxMC0uOTY5LjY5NS42OTUgMCAwMS45NzggMEwxMCAxMWwzLjQxOC0zLjE0MXoiLz48L3N2Zz4=) right 10px center no-repeat;
	background-size: 20px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
	font-family: sans-serif;
	color: #3b4151;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.swagger-ui select[multiple] {
	margin: 5px 0;
	padding: 5px;
	background: #f7f7f7
}

.swagger-ui select.invalid {
	-webkit-animation: shake .4s 1;
	animation: shake .4s 1;
	border-color: #f93e3e;
	background: #feebeb
}

.swagger-ui .opblock-body select {
	min-width: 230px
}

@media (max-width:768px) {
	.swagger-ui .opblock-body select {
		min-width: 180px
	}
}

.swagger-ui label {
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 5px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui input[type=email],
.swagger-ui input[type=file],
.swagger-ui input[type=password],
.swagger-ui input[type=search],
.swagger-ui input[type=text],
.swagger-ui textarea {
	min-width: 100px;
	margin: 5px 0;
	padding: 8px 10px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	background: #fff
}

@media (max-width:768px) {
	.swagger-ui input[type=email],
	.swagger-ui input[type=file],
	.swagger-ui input[type=password],
	.swagger-ui input[type=search],
	.swagger-ui input[type=text],
	.swagger-ui textarea {
		max-width: 175px
	}
}

.swagger-ui input[type=email].invalid,
.swagger-ui input[type=file].invalid,
.swagger-ui input[type=password].invalid,
.swagger-ui input[type=search].invalid,
.swagger-ui input[type=text].invalid,
.swagger-ui textarea.invalid {
	-webkit-animation: shake .4s 1;
	animation: shake .4s 1;
	border-color: #f93e3e;
	background: #feebeb
}

.swagger-ui input[disabled],
.swagger-ui select[disabled],
.swagger-ui textarea[disabled] {
	background-color: #fafafa;
	color: #888;
	cursor: not-allowed
}

.swagger-ui select[disabled] {
	border-color: #888
}

.swagger-ui textarea[disabled] {
	background-color: #41444e;
	color: #fff
}

@-webkit-keyframes shake {
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0)
	}
	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0)
	}
	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0)
	}
	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0)
	}
}

@keyframes shake {
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0)
	}
	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0)
	}
	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0)
	}
	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0)
	}
}

.swagger-ui textarea {
	font-size: 12px;
	width: 100%;
	min-height: 280px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	outline: none;
	background: hsla(0, 0%, 100%, .8);
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui textarea:focus {
	border: 2px solid #61affe
}

.swagger-ui textarea.curl {
	font-size: 12px;
	min-height: 100px;
	margin: 0;
	padding: 10px;
	resize: none;
	border-radius: 4px;
	background: #41444e;
	font-family: monospace;
	font-weight: 600;
	color: #fff
}

.swagger-ui .checkbox {
	padding: 5px 0 10px;
	transition: opacity .5s;
	color: #303030
}

.swagger-ui .checkbox label {
	display: flex
}

.swagger-ui .checkbox p {
	font-weight: 400!important;
	font-style: italic;
	margin: 0!important;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui .checkbox input[type=checkbox] {
	display: none
}

.swagger-ui .checkbox input[type=checkbox]+label>.item {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0;
	padding: 5px;
	cursor: pointer;
	border-radius: 1px;
	background: #e8e8e8;
	box-shadow: 0 0 0 2px #e8e8e8;
	flex: none
}

.swagger-ui .checkbox input[type=checkbox]+label>.item:active {
	-webkit-transform: scale(.9);
	transform: scale(.9)
}

.swagger-ui .checkbox input[type=checkbox]:checked+label>.item {
	background: #e8e8e8 url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='8' viewBox='3 7 10 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2341474E' fill-rule='evenodd' d='M6.333 15L3 11.667l1.333-1.334 2 2L11.667 7 13 8.333z'/%3E%3C/svg%3E") 50% no-repeat
}

.swagger-ui .dialog-ux {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.swagger-ui .dialog-ux .backdrop-ux {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .8)
}

.swagger-ui .dialog-ux .modal-ux {
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;
	width: 100%;
	min-width: 300px;
	max-width: 650px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid #ebebeb;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2)
}

.swagger-ui .dialog-ux .modal-ux-content {
	overflow-y: auto;
	max-height: 540px;
	padding: 20px
}

.swagger-ui .dialog-ux .modal-ux-content p {
	font-size: 12px;
	margin: 0 0 5px;
	color: #41444e;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .dialog-ux .modal-ux-content h4 {
	font-size: 18px;
	font-weight: 600;
	margin: 15px 0 0;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .dialog-ux .modal-ux-header {
	display: flex;
	padding: 12px 0;
	border-bottom: 1px solid #ebebeb;
	align-items: center
}

.swagger-ui .dialog-ux .modal-ux-header .close-modal {
	padding: 0 10px;
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.swagger-ui .dialog-ux .modal-ux-header h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	padding: 0 20px;
	flex: 1;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .model {
	font-size: 12px;
	font-weight: 300;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui .model .deprecated span,
.swagger-ui .model .deprecated td {
	color: #a0a0a0!important
}

.swagger-ui .model .deprecated>td:first-of-type {
	text-decoration: line-through
}

.swagger-ui .model-toggle {
	font-size: 10px;
	position: relative;
	top: 6px;
	display: inline-block;
	margin: auto .3em;
	cursor: pointer;
	transition: -webkit-transform .15s ease-in;
	transition: transform .15s ease-in;
	transition: transform .15s ease-in, -webkit-transform .15s ease-in;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.swagger-ui .model-toggle.collapsed {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

.swagger-ui .model-toggle:after {
	display: block;
	width: 20px;
	height: 20px;
	content: "";
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E") 50% no-repeat;
	background-size: 100%
}

.swagger-ui .model-jump-to-path {
	position: relative;
	cursor: pointer
}

.swagger-ui .model-jump-to-path .view-line-link {
	position: absolute;
	top: -.4em;
	cursor: pointer
}

.swagger-ui .model-title {
	position: relative
}

.swagger-ui .model-title:hover .model-hint {
	visibility: visible
}

.swagger-ui .model-hint {
	position: absolute;
	top: -1.8em;
	visibility: hidden;
	padding: .1em .5em;
	white-space: nowrap;
	color: #ebebeb;
	border-radius: 4px;
	background: rgba(0, 0, 0, .7)
}

.swagger-ui .model p {
	margin: 0 0 1em
}

.swagger-ui section.models {
	margin: 30px 0;
	border: 1px solid rgba(59, 65, 81, .3);
	border-radius: 4px
}

.swagger-ui section.models.is-open {
	padding: 0 0 20px
}

.swagger-ui section.models.is-open h4 {
	margin: 0 0 5px;
	border-bottom: 1px solid rgba(59, 65, 81, .3)
}

.swagger-ui section.models h4 {
	font-size: 16px;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px 20px 10px 10px;
	cursor: pointer;
	transition: all .2s;
	font-family: sans-serif;
	color: #606060
}

.swagger-ui section.models h4 svg {
	transition: all .4s
}

.swagger-ui section.models h4 span {
	flex: 1
}

.swagger-ui section.models h4:hover {
	background: rgba(0, 0, 0, .02)
}

.swagger-ui section.models h5 {
	font-size: 16px;
	margin: 0 0 10px;
	font-family: sans-serif;
	color: #707070
}

.swagger-ui section.models .model-jump-to-path {
	position: relative;
	top: 5px
}

.swagger-ui section.models .model-container {
	margin: 0 20px 15px;
	position: relative;
	transition: all .5s;
	border-radius: 4px;
	background: rgba(0, 0, 0, .05)
}

.swagger-ui section.models .model-container:hover {
	background: rgba(0, 0, 0, .07)
}

.swagger-ui section.models .model-container:first-of-type {
	margin: 20px
}

.swagger-ui section.models .model-container:last-of-type {
	margin: 0 20px
}

.swagger-ui section.models .model-container .models-jump-to-path {
	position: absolute;
	top: 8px;
	right: 5px;
	opacity: .65
}

.swagger-ui section.models .model-box {
	background: none
}

.swagger-ui .model-box {
	padding: 10px;
	display: inline-block;
	border-radius: 4px;
	background: rgba(0, 0, 0, .1)
}

.swagger-ui .model-box .model-jump-to-path {
	position: relative;
	top: 4px
}

.swagger-ui .model-box.deprecated {
	opacity: .5
}

.swagger-ui .model-title {
	font-size: 16px;
	font-family: sans-serif;
	color: #505050
}

.swagger-ui .model-deprecated-warning {
	font-size: 16px;
	font-weight: 600;
	margin-right: 1em;
	font-family: sans-serif;
	color: #f93e3e
}

.swagger-ui span>span.model .brace-close {
	padding: 0 0 0 10px
}

.swagger-ui .prop-name {
	display: inline-block;
	margin-right: 1em
}

.swagger-ui .prop-type {
	color: #55a
}

.swagger-ui .prop-enum {
	display: block
}

.swagger-ui .prop-format {
	color: #606060
}

.swagger-ui .servers>label {
	font-size: 12px;
	margin: -20px 15px 0 0;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .servers>label select {
	min-width: 130px;
	max-width: 100%
}

.swagger-ui .servers h4.message {
	padding-bottom: 2em
}

.swagger-ui .servers table tr {
	width: 30em
}

.swagger-ui .servers table td {
	display: inline-block;
	max-width: 15em;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px
}

.swagger-ui .servers table td:first-of-type {
	padding-right: 2em
}

.swagger-ui .servers table td input {
	width: 100%;
	height: 100%
}

.swagger-ui .servers .computed-url {
	margin: 2em 0
}

.swagger-ui .servers .computed-url code {
	display: inline-block;
	padding: 4px;
	font-size: 16px;
	margin: 0 1em
}

.swagger-ui .servers-title {
	font-size: 12px;
	font-weight: 700
}

.swagger-ui .operation-servers h4.message {
	margin-bottom: 2em
}

.swagger-ui table {
	width: 100%;
	padding: 0 10px;
	border-collapse: collapse
}

.swagger-ui table thead tr td, .swagger-ui table thead tr th {
	border-bottom: 3px solid #cbd3dc;
}

.swagger-ui table.model tbody tr td {
	padding: 0;
	vertical-align: top
}

.swagger-ui table.model tbody tr td:first-of-type {
	width: 174px;
	padding: 0 0 0 2em
}

.swagger-ui table.headers td {
	font-size: 12px;
	font-weight: 300;
	vertical-align: middle;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui table tbody tr td {
	padding: 10px 5px;
	vertical-align: middle;
	border-top: 1px solid #cbd3dc
}

.swagger-ui table tbody tr td:first-of-type {
	max-width: 20%;
	min-width: 6em
}

.swagger-ui table tbody tr td code {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2px 5px;
	border-radius: 5px;
}

.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
	font-size: 12px;
	font-weight: 700;
	padding: 10px 5px;
	text-align: left;
	font-family: sans-serif;
	color: #3b4151;
}

.swagger-ui .parameters-col_description {
	width: 99%;
	margin-bottom: 2em
}

.swagger-ui .parameters-col_description input[type=text] {
	width: 100%;
	max-width: 340px
}

.swagger-ui .parameters-col_description select {
	border-width: 1px
}

.swagger-ui .parameter__name {
	font-size: 16px;
	font-weight: 400;
	margin-right: .75em;
	font-family: sans-serif;
	color: #3b4151;
	white-space: nowrap;
}

.swagger-ui .parameter__name.required {
	font-weight: 700
}

.swagger-ui .parameter__name.required:after {
	font-size: 10px;
	display: table-cell;
	padding-left: 5px;
	content: "* obbligatorio";
	color: rgba(255, 0, 0, .6)
}

.swagger-ui .parameter__extension,
.swagger-ui .parameter__in {
	font-size: 12px;
	font-style: italic;
	font-family: monospace;
	font-weight: 600;
	color: grey
}

.swagger-ui .parameter__deprecated {
	font-size: 12px;
	font-style: italic;
	font-family: monospace;
	font-weight: 600;
	color: red
}

.swagger-ui .parameter__empty_value_toggle {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 12px
}

.swagger-ui .parameter__empty_value_toggle input {
	margin-right: 7px
}

.swagger-ui .parameter__empty_value_toggle.disabled {
	opacity: .7
}

.swagger-ui .table-container {
	padding: 10px 20px
}

.swagger-ui .table-responsive {
	overflow: auto;
}

.swagger-ui .response-col_description {
	width: 99%
}

.swagger-ui .response-col_links {
	min-width: 6em
}

.swagger-ui .topbar {
	padding: 10px 0;
	background-color: #1b1b1b
}

.swagger-ui .topbar .topbar-wrapper,
.swagger-ui .topbar a {
	display: flex;
	align-items: center
}

.swagger-ui .topbar a {
	font-size: 1.5em;
	font-weight: 700;
	flex: 1;
	max-width: 300px;
	text-decoration: none;
	font-family: sans-serif;
	color: #fff
}

.swagger-ui .topbar a span {
	margin: 0;
	padding: 0 10px
}

.swagger-ui .topbar .download-url-wrapper {
	display: flex;
	flex: 3;
	justify-content: flex-end
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
	width: 100%;
	margin: 0;
	border: 2px solid #62a03f;
	border-radius: 4px 0 0 4px;
	outline: none
}

.swagger-ui .topbar .download-url-wrapper .select-label {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
	margin: 0;
	color: #f0f0f0
}

.swagger-ui .topbar .download-url-wrapper .select-label span {
	font-size: 16px;
	flex: 1;
	padding: 0 10px 0 0;
	text-align: right
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
	flex: 2;
	width: 100%;
	border: 2px solid #62a03f;
	outline: none;
	box-shadow: none
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
	font-size: 16px;
	font-weight: 700;
	padding: 4px 30px;
	border: none;
	border-radius: 0 4px 4px 0;
	background: #62a03f;
	font-family: sans-serif;
	color: #fff
}

.swagger-ui .info {
	margin: 20px 0;
	text-align: center;
}

.swagger-ui .info hgroup.main {
	margin: 0 0 20px
}

.swagger-ui .info hgroup.main a {
	font-size: 12px
}

.swagger-ui .info pre {
	font-size: 14px
}

.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table {
	font-size: 14px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .info h1,
.swagger-ui .info h2,
.swagger-ui .info h3,
.swagger-ui .info h4,
.swagger-ui .info h5 {
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .info a {
	font-size: 14px;
	transition: all .4s;
	font-family: sans-serif;
	color: #4990e2
}

.swagger-ui .info a:hover {
	color: #1f69c0
}

.swagger-ui .info>div {
	margin: 0 0 5px
}

.swagger-ui .info .base-url {
	font-size: 12px;
	font-weight: 300!important;
	margin: 0;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui .info .title {
	font-size: 36px;
	margin: 0;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .info .title small {
	font-size: 10px;
	position: relative;
	top: -5px;
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 2px 4px;
	vertical-align: super;
	border-radius: 6px;
	background: #f44336
}

.swagger-ui .info .title small pre {
	margin: 0;
	padding: 0 5px;
	font-family: sans-serif;
	color: #fff
}

.swagger-ui .auth-btn-wrapper {
	display: flex;
	padding: 10px 0;
	justify-content: center
}

.swagger-ui .auth-btn-wrapper .btn-done {
	margin-right: 1em
}

.swagger-ui .auth-wrapper {
	display: flex;
	flex: 1;
	justify-content: flex-end
}

.swagger-ui .auth-wrapper .authorize {
	padding-right: 20px;
	margin-right: 10px
}

.swagger-ui .auth-container {
	margin: 0 0 10px;
	padding: 10px 20px;
	border-bottom: 1px solid #ebebeb
}

.swagger-ui .auth-container:last-of-type {
	margin: 0;
	padding: 10px 20px;
	border: 0
}

.swagger-ui .auth-container h4 {
	margin: 5px 0 15px!important
}

.swagger-ui .auth-container .wrapper {
	margin: 0;
	padding: 0
}

.swagger-ui .auth-container input[type=password],
.swagger-ui .auth-container input[type=text] {
	min-width: 230px
}

.swagger-ui .auth-container .errors {
	font-size: 12px;
	padding: 10px;
	border-radius: 4px;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui .scopes h2 {
	font-size: 14px;
	font-family: sans-serif;
	color: #3b4151
}

.swagger-ui .scope-def {
	padding: 0 0 20px
}

.swagger-ui .errors-wrapper {
	margin: 20px;
	padding: 10px 20px;
	-webkit-animation: scaleUp .5s;
	animation: scaleUp .5s;
	border: 2px solid #f93e3e;
	border-radius: 4px;
	background: rgba(249, 62, 62, .1)
}

.swagger-ui .errors-wrapper .error-wrapper {
	margin: 0 0 10px
}

.swagger-ui .errors-wrapper .errors h4 {
	font-size: 14px;
	margin: 0;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151
}

.swagger-ui .errors-wrapper .errors small {
	color: #606060
}

.swagger-ui .errors-wrapper hgroup {
	display: flex;
	align-items: center
}

.swagger-ui .errors-wrapper hgroup h4 {
	font-size: 20px;
	margin: 0;
	flex: 1;
	font-family: sans-serif;
	color: #3b4151
}

@-webkit-keyframes scaleUp {
	0% {
		-webkit-transform: scale(.8);
		transform: scale(.8);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes scaleUp {
	0% {
		-webkit-transform: scale(.8);
		transform: scale(.8);
		opacity: 0
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

.swagger-ui .Resizer.vertical.disabled {
	display: none
}

.swagger-ui .markdown pre,
.swagger-ui .renderedMarkdown pre {
	color: #000;
	font-weight: 400;
	white-space: pre-wrap;
	background: none;
	padding: 0
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code {
	font-size: 14px;
	padding: 5px 7px;
	border-radius: 4px;
	background: rgba(0, 0, 0, .05);
	font-family: monospace;
	font-weight: 600;
	color: #9012fe
}

.swagger-ui .markdown pre>code,
.swagger-ui .renderedMarkdown pre>code {
	display: block
}